In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/rogerloh-acc/Fun-Projects/main/Demo/Profitability%20by%20Category/Kedai%20Harimau%20-%20Source.csv")
df.head()

   ID                Item Category   Revenue    COGS
0   1              Apple    Fruits      478.0  420.64
1   2           Asparagus   Fruits      165.0  145.53
2   3               Bacon     Meat       65.0   47.19
3   4             Bananas   Fruits       85.0   72.93
4   5  Beef, Bonless Stew     Meat      421.0  331.75

In [3]:
df.describe()

              ID    Revenue        COGS
count  99.000000   99.000000   99.000000
mean   50.000000  267.070707  213.967879
std    28.722813  135.374632  117.085464
min     1.000000   41.000000   32.470000
25%    25.500000  150.000000  119.985000
50%    50.000000  250.000000  200.690000
75%    74.500000  383.000000  297.350000
max    99.000000  500.000000  475.090000